---
import CardLayout from "../components/layout/CardLayout.astro";
---

<CardLayout subtitle="About">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, unde
        omnis recusandae officia molestias aut veritatis aperiam nihil, quaerat
        exercitationem iste ipsam quasi facilis harum non quos labore dolore
        veniam?
    </p>
</CardLayout>
