---
import CardLayout from '../components/layout/CardLayout.astro';
---

<CardLayout subtitle='Games'>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste aperiam,
    ipsum quae qui adipisci nisi odio labore architecto, voluptas eos est
    deserunt ullam doloribus officia beatae quo veritatis nemo unde?
  </p>
</CardLayout>
