---
import Layout from '../components/layout/Layout.astro';
---

<Layout>
  <div class='hero min-h-screen'>
    <div class='hero-content flex-col lg:flex-row'>
      <img
        src='/video-game-controller.svg'
        alt={'\u2612'}
        width='256'
        height='256'
        class='p-6'
      />
      <div class='text-center'>
        <h1 class='text-5xl font-bold'>Hello there</h1>
        <p class='p-6'>
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
          excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
          id nisi.
        </p>
        <div class='flex justify-center gap-4'>
          <a
            href='/about'
            rel='prefetch'
            class='btn btn-primary'
          >
            Learn about us
          </a>
          <a
            href='/games'
            rel='prefetch'
            class='btn btn-primary'
          >
            View our games
          </a>
        </div>
      </div>
    </div>
  </div>
</Layout>
